<div class="full-height" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'forgotpassword.title' |translate}}</mat-card-title>
      <mat-card-subtitle>{{'forgotpassword.description' |translate}}</mat-card-subtitle>
    </mat-card-header>
    <form class="form" [formGroup]="form" role="form" novalidate (submit)="resetPassword($event)">
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="{{'forgotpassword.email'|translate}}" [formControl]="form.controls.email">
            <mat-error *ngIf="form.controls.email.hasError('required')">
              {{'admin.users.model.email.required'|translate}}
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('pattern')">
              {{'admin.users.model.email.pattern'|translate}}
            </mat-error>
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/login']">{{'forgotpassword.login'|translate}}</button>
        <button mat-raised-button color="primary" type="submit">{{'forgotpassword.reset'|translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>