<md-toolbar>
  <h3 [innerHTML]="'users.rights.title'|translate"></h3>
</md-toolbar>
<div class="animated fadeIn dashboard-container">
  <md-card class="dashboard-card" *ngFor="let key of rights | appKeys">
      <md-toolbar>
          {{ key }}
      </md-toolbar>
      <md-card-content>
          <div class="tile-content" fxLayout="column">
              <md-slide-toggle *ngFor="let right of rights[key]" id="{{right}}" [checked]="hasRight(right)" (change)="toggleRight(right)">
                  {{right}}
              </md-slide-toggle>
          </div>
      </md-card-content>
  </md-card>
</div>
<div fxlayout="row">
  <div fxFlex></div>
  <button md-raised-button type="button" (click)="save()">
              {{'users.rights.save' |translate}}
      </button>
  <div fxFlex=30></div>
</div>