<h2 md-dialog-title [innerHTML]="'admin.resources.title'|translate"></h2>
<md-dialog-content>
    <form [formGroup]="editForm" novalidate (submit)="saveResource()">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <md-input-container fxFlex="100">
                <input mdInput placeholder="{{'admin.resources.model.key.placeholder'}}" [formControl]="editForm.controls.key">
                <md-error *ngIf="editForm.controls.key.hasError('required')">
                    {{'admin.languages.model.key.required'|translate}}
                </md-error>
            </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <md-input-container fxFlex="100">
                <input mdInput placeholder="{{'admin.resources.model.value.placeholder'}}" [formControl]="editForm.controls.value">
                <md-error *ngIf="editForm.controls.value.hasError('required')">
                    {{'admin.languages.model.value.required'|translate}}
                </md-error>
            </md-input-container>
        </div>
    </form>
    <button md-button md-dialog-close>{{'admin.resources.model.close'|translate}}</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button (click)="saveResource()" type="submit">{{'admin.resources.model.save'|translate}}</button>
</md-dialog-content>