<mat-toolbar class="toolbar-tabbed">
  <h3 [innerHTML]="'admin.resources.title'|translate"></h3>
</mat-toolbar>
<div class="content-wrapper">
  <mat-toolbar>
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="{{'admin.resources.search.placeholder'|translate}}">
    </mat-input-container>
    <div fxFlex></div>
    <button mat-raised-button color="primary" (click)='openDialog()' *appHasRight="'R_API_LANGUAGE_RESOURCE_C'"><mat-icon>add_circle</mat-icon>&emsp;{{'admin.resources.new'|translate}}</button>
  </mat-toolbar>
  <div class="col-mat-12">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container cdkColumnDef="key">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'admin.resources.header.key'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.key}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="value">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'admin.resources.header.value'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.value}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef><span [innerHTML]="'admin.resources.header.actions'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button mat-button class="cell-action-button" *appHasRight="'R_API_LANGUAGE_RESOURCE_U'" (click)='openDialog(row)'><mat-icon>mode_edit</mat-icon></button>
          <button mat-button class="cell-action-button" *appHasRight="'R_API_LANGUAGE_RESOURCE_D'" (click)="confirmDeleteContent($event, row)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="['key', 'value', 'action']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['key', 'value', 'action']"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.totalLength" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>