<h2 mat-dialog-title [innerHTML]="'admin.resources.title'|translate"></h2>
<mat-dialog-content>
    <form [formGroup]="editForm" novalidate (submit)="saveResource()">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="{{'admin.resources.model.key.placeholder'}}" [formControl]="editForm.controls.key">
                <mat-error *ngIf="editForm.controls.key.hasError('required')">
                    {{'admin.languages.model.key.required'|translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="{{'admin.resources.model.value.placeholder'}}" [formControl]="editForm.controls.value">
                <mat-error *ngIf="editForm.controls.value.hasError('required')">
                    {{'admin.languages.model.value.required'|translate}}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <button mat-button mat-dialog-close>{{'admin.resources.model.close'|translate}}</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button (click)="saveResource()" type="submit">{{'admin.resources.model.save'|translate}}</button>
</mat-dialog-content>