<mat-toolbar>
  <h3 [innerHTML]="'admin.languages.title'|translate"></h3>
</mat-toolbar>
<div class="content-wrapper">

    <mat-toolbar>
        <mat-input-container floatPlaceholder="never">
            <input matInput #filter placeholder="Filter users">
        </mat-input-container>
        <div fxFlex></div>
        <button mat-raised-button color="primary" [routerLink]="['new']" *appHasRight="'R_API_LANGUAGE_C'">{{'admin.languages.new'|translate}}</button>
      </mat-toolbar>

  <div class='clearfix col-mat-6 col-sm-12'></div>
  <br />
  <div class="col-mat-12">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- User name Definition -->
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'admin.languages.header.name'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="culture">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'admin.languages.header.culture'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.culture}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="flag">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'admin.languages.header.flag'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.flag}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef><span [innerHTML]="'admin.languages.header.actions'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button mat-button *appHasRight="'R_API_LANGUAGE_C'" class="cell-action-button" [routerLink]="[row.id, 'update']"><mat-icon>mode_edit</mat-icon></button>
          <button mat-button *appHasRight="'R_API_LANGUAGE_RESOURCE_R'" class="cell-action-button" [routerLink]="[row.id, 'resources']"><mat-icon>language</mat-icon></button>
          <button mat-button *appHasRight="'R_API_LANGUAGE_D'" class="cell-action-button" (click)="confirmDeleteContent($event, row)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="['name', 'culture', 'flag', 'action']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['name', 'culture', 'flag', 'action']"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.totalLength" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>