<div class="full-height" fxLayout="column">
  <div fxFlex></div>
  <div fxLayout="column" fxLayoutAlign="start center">

    <div class="title" fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
      <div>
        <img class="login-logo" src="/assets/img/logo.png" />
      </div>
      <div>
        <h1>MARS</h1>
        <h3>Modis Augmented Reality System</h3>
      </div>
    </div>

    <md-card class="login-card">
      <form class="form-signin" [formGroup]="loginForm" role="form" novalidate (submit)="login($event)">
        <div fxLayout="column">
          <md-input-container class="login-margin" fxFlex>
            <input mdInput placeholder="{{'login.email'|translate}}" [formControl]="loginForm.controls.email" >
            <md-error *ngIf="loginForm.controls.email.hasError('required')">
            </md-error>
            <md-icon mdSuffix>mail_outline</md-icon>
          </md-input-container>
          <md-input-container class="login-margin" fxFlex>
            <input mdInput type="password" placeholder="{{'login.password'|translate}}" [formControl]="loginForm.controls.password" >
            <md-error *ngIf="loginForm.controls.password.hasError('required')">
            </md-error>
            <md-icon mdSuffix>lock_outline</md-icon>
          </md-input-container>
          <div fxLayoutAlign="end start">
            <button class="login-button" color="primary" type="submit" md-raised-button>{{'login.button.label'|translate}}</button>
          </div>
        </div>
      </form>
    </md-card>
  </div>
  <div fxFlex></div>
</div>