<div class="full-height" fxLayout="column">
  <div fxFlex></div>
  <div fxLayout="column" fxLayoutAlign="start center">

    <div class="title" fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
      <div>
        <img class="login-logo" src="/assets/img/logo.png" />
      </div>
      <div>
        <h1>MARS</h1>
        <h3>Modis Augmented Reality System</h3>
      </div>
    </div>

    <mat-card class="login-card">
      <form class="form-signin" [formGroup]="loginForm" role="form" novalidate (submit)="login($event)">
        <div fxLayout="column">
          <mat-input-container class="login-margin" fxFlex>
            <input matInput placeholder="{{'login.email'|translate}}" [formControl]="loginForm.controls.email" >
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            </mat-error>
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-input-container>
          <mat-input-container class="login-margin" fxFlex>
            <input matInput type="password" placeholder="{{'login.password'|translate}}" [formControl]="loginForm.controls.password" >
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            </mat-error>
            <mat-icon matSuffix>lock_outline</mat-icon>
          </mat-input-container>
          <div fxLayoutAlign="end start">
            <button class="login-button" color="primary" type="submit" mat-raised-button>{{'login.button.label'|translate}}</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>