<div fxLayout="column" id="main-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-button class="mat-icon-button" aria-label="Settings" ng-disabled="true" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
        <h2 flex mat-truncate [routerLink]="['/admin']">MeanTS</h2>
    </mat-toolbar>
    <!-- / Toolbar -->

    <!-- / Page -->
    <mat-sidenav-container class="mat-container" fxFlex>
        <!-- Sidenav -->
        <mat-sidenav mode="side" opened="true" #sidenav class="example-sidenav">
            <!-- Top bloc -->
            <div class="user-info" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <img src="/assets/img/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
                    <div class="user-info-content" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex> {{username}} </div>
                        <!-- <button mat-icon-button [menuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon></button> -->
                    </div>
                </div>
            </div>
            <!-- / Top bloc -->
            <!-- User parameters menu -->
            <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/admin/users/', userModel.id, 'update']">
                    <mat-icon>perm_identity</mat-icon>
                    <span>Modifier le profil</span>
                </button>
                <button mat-menu-item [routerLink]="['/admin/users/', userModel.id, 'password']">
                    <mat-icon>lock</mat-icon>
                    <span>Modifier le matp</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>build</mat-icon>
                    <span>Paramètres</span>
                </button>
                <button mat-menu-item class="logout-button" [routerLink]="['/logout']" routerLinkActive="active">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu> -->
            <!-- / User parameters menu -->

            <!-- Menu -->
            <mat-nav-list class="sidenav-list menu">
                <mat-list-item [routerLink]="['/admin']" routerLinkActive="active">
                    <mat-icon mat-list-icon>home</mat-icon>{{'admin.menu.overview' | translate }}
                </mat-list-item>
                <h3 mat-subheader>{{'admin.menu.title' | translate }}</h3>
                <mat-list-item [routerLink]="['/admin/users']" *appHasRight="'R_API_USER_R'" routerLinkActive="active">
                    <mat-icon mat-list-icon>people</mat-icon>{{'admin.menu.users' | translate }}
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin/languages']" *appHasRight="'R_API_LANGUAGE_R'" routerLinkActive="active">
                    <mat-icon mat-list-icon>flag</mat-icon>{{'admin.menu.languages' | translate }}
                </mat-list-item>
            </mat-nav-list>
            <!-- / Menu -->

        </mat-sidenav>
        <!-- Sidenav -->

        <!-- Content-->
        <div class="my-content">
            <!-- Main content -->
            <main>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
                <!-- /.conainer-fluid -->
            </main>
        </div>
        <!-- / Content-->

    </mat-sidenav-container>
    <!-- / Page -->
</div>
