<div fxLayout="column" id="main-container">
    <!-- Toolbar -->
    <md-toolbar color="primary" class="app-toolbar">
        <button md-button class="md-icon-button" aria-label="Settings" ng-disabled="true" (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
        <h2 flex md-truncate [routerLink]="['/admin']">MeanTS</h2>
    </md-toolbar>
    <!-- / Toolbar -->

    <!-- / Page -->
    <md-sidenav-container class="md-container" fxFlex>
        <!-- Sidenav -->
        <md-sidenav mode="side" opened="true" #sidenav class="example-sidenav">
            <!-- Top bloc -->
            <div class="user-info" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <img src="/assets/img/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
                    <div class="user-info-content" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex> {{username}} </div>
                        <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>arrow_drop_down</md-icon></button>
                    </div>
                </div>
            </div>
            <!-- / Top bloc -->
            <!-- User parameters menu -->
            <md-menu #menu="mdMenu">
                <button md-menu-item [routerLink]="['/admin/users/', userModel.id, 'update']">
                    <md-icon>perm_identity</md-icon>
                    <span>Modifier le profil</span>
                </button>
                <button md-menu-item [routerLink]="['/admin/users/', userModel.id, 'password']">
                    <md-icon>lock</md-icon>
                    <span>Modifier le mdp</span>
                </button>
                <button md-menu-item>
                    <md-icon>build</md-icon>
                    <span>Paramètres</span>
                </button>
                <button md-menu-item class="logout-button" [routerLink]="['/logout']" routerLinkActive="active">
                    <md-icon>exit_to_app</md-icon>
                    <span>Logout</span>
                </button>
            </md-menu>
            <!-- / User parameters menu -->

            <!-- Menu -->
            <md-nav-list class="sidenav-list menu">
                <md-list-item [routerLink]="['/admin']" routerLinkActive="active">
                    <md-icon md-list-icon>home</md-icon>{{'admin.menu.overview' | translate }}
                </md-list-item>
                <h3 md-subheader>{{'admin.menu.title' | translate }}</h3>
                <md-list-item [routerLink]="['/admin/users']" *appHasRight="'R_API_USER_R'" routerLinkActive="active">
                    <md-icon md-list-icon>people</md-icon>{{'admin.menu.users' | translate }}
                </md-list-item>
                <md-list-item [routerLink]="['/admin/languages']" *appHasRight="'R_API_LANGUAGE_R'" routerLinkActive="active">
                    <md-icon md-list-icon>flag</md-icon>{{'admin.menu.languages' | translate }}
                </md-list-item>
            </md-nav-list>
            <!-- / Menu -->

        </md-sidenav>
        <!-- Sidenav -->

        <!-- Content-->
        <div class="my-content">
            <!-- Main content -->
            <main>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
                <!-- /.conainer-fluid -->
            </main>
        </div>
        <!-- / Content-->

    </md-sidenav-container>
    <!-- / Page -->
</div>
