/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~scss/_normalize.scss';
@import '~scss/_app-root.scss';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple, 700);
$accent:  mat-palette($mat-deep-purple, 500);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

// Redefine background
.mat-drawer-container{
    background-color: #eceff1 !important;
}

mat-toolbar{
    background-color:mat-color($accent) !important;
    color : white !important;
}

mat-ink-bar{
    background-color:white !important;
}